@charset "utf-8";

/* Info
   ========================================================================== */
/**
 * 1. Writer: Hyerin Lim. (Weaverloft Corp.)
 * 2. Production Date: 2022-07-05
 * 3. Client: DOBS
 */

/*========== Import ==========*/
@import url("reset.css");
@import url("layout.css");
@import url("plan.css");
@import url("budget.css");
@import url("manage.css");
@import url("chargeback.css");
@import url("invoice.css");
@import url("report.css");
@import url("support.css");
@import url("setting.css");
@import url("popup.css");
/* 라이브러리 */
@import url("jquery-ui.css");
@import url("jquery.timepicker.min.css");
@import url("tui-grid.css");
@import url("tui-date-picker.css");
@import url("toastui-chart.css");

/*========== Font ==========*/
@import url('../fonts/pretendard.css');

/*========== Base ==========*/
* {
   font-family: 'Pretendard', sans-serif;
   letter-spacing: -0.04em;
}
*, ::before, ::after {
   box-sizing: border-box;
}
html { 
   width: 100%;
   font-family: 'Pretendard', sans-serif;
   font-weight: 400;
   color: #333;
   letter-spacing: -0.04em;
   -webkit-tap-highlight-color: transparent;
   scroll-behavior: smooth;
}
body{
   width: 100%;
   font-size: 16px;
   color: #333;
   line-height: 1.25;
   letter-spacing: -0.04em;
}
a {
   text-decoration: none;
   color: #333;
}
img {
	vertical-align: middle;
}
figure img{
   width: 100%;
}
h1, h2, h3, h4, h5, h6{
   font-weight: 600;
   letter-spacing: -0.06em;
}
.hidden { 
   position: absolute;
   left: -9999px;
   display: none;
   visibility: hidden;
   opacity: 0;
   overflow: hidden;
}
.none{
   display: none;
}
.clearfix:before, .clearfix:after {
   display: block;
   content: '';
   line-height: 0;
   clear: both;
}
button{
   background: inherit;
   border:none;
   box-shadow:none;
   padding:0;
   cursor:pointer;
}
input, textarea, button {
   border: none;
   appearance: none;
   -moz-appearance: none;
   -webkit-appearance: none;
   border-radius: 0;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   -webkit-tap-highlight-color : transparent;
}
input:focus, textarea:focus, button:focus, select:focus,
input:focus-visible, textarea:focus-visible, button:focus-visible, select:focus-visible {
   outline: none;
   -webkit-tap-highlight-color : transparent;
}
select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   cursor: pointer;
}
select::-ms-expand {
   display: none;
}
textarea{
   resize: none;
}
/* Common design
   ========================================================================== */

/*========== base ==========*/
/* input */
input{
   width: 100%;
   padding: 4px 6px;
   background-color: #fff;
   border: 1px solid #ccc;
   border-radius: 3px;
   font-size: 14px;
   font-weight: 500;
   color: #666;
   letter-spacing: -0.06em;
   box-sizing: border-box;
}
input::placeholder{
   font-size: 14px;
   font-weight: 500;
   color: #ccc;
   letter-spacing: -0.06em;
}
input:focus-visible{
   outline: none;
   background-color: #fff;
   border: 1px solid #000;
}
input[type="text"]::-ms-clear {
   display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
input[type=number] {
   text-align: right;
   -moz-appearance: textfield;
}
input[type=number]::placeholder{
   text-align: left;
}
input[name=number]{
   letter-spacing: 0;
   text-align: right;
}
input[name=number]::placeholder{
   text-align: left;
}
input.percent{
   letter-spacing: -0.02em;
   text-align: right;
}
input:disabled, input.disabled{
   background-color: #f2f2f2;
}

/* input-file */
.up-file > div{
   display: inline-block;
}
.up-file input[type="file"] {
   display: none;
}
.up-file input[type="file"] ~ label {
   display: inline-block;
   padding: 5px 24px;
   border-radius: 3px;
   background-color: #f0f0f0;
   font-size: 14px;
   font-weight: 500;
   color:#777;
   line-height: 1.5;
   cursor: pointer;
   transition: opacity 300ms;
}
.up-file input[type="file"] ~ label:hover{
   opacity: 0.8;
}
.up-file input[type="file"] ~ label span{
   display: inline-block;
   padding: 0 18px 0 0;
   background-image: url('../img/icon-file.svg');
   background-size: 12px 11px;
   background-position: right center;
   background-repeat: no-repeat;
}
.file-list{
   display: inline-block;
   width: calc(100% - 160px);
   margin: 0 0 0 20px;
   border-radius: 3px;
   background: #fff;
   font-size: 14px;
   vertical-align: middle;
   box-sizing: border-box;
}
.file-list p{
   display: inline-block;
   margin: 0 16px 0 0;
}
.file-list.radius p{
   padding: 0 10px;
   border: 1px solid #56616d;
   border-radius: 4px;
}
.file-list p:last-child{
   margin: 0;
}
.file-list .file-remove{
   margin: 0 0 0 4px;
   font-size: 10px;
   color: #56616d;
}
/* table-input-file */
.table-up-file .file-list{
   width: calc(100% - 34px);
   min-width: 20%;
   min-height: 25px;
   margin: 0;
   padding: 3px 6px;
   border: 1px solid #ccc;
   text-align: left;
}
.table-up-file input[type="file"] ~ label{
   width: 26px;
   height: 26px;
   margin-left: 4px;
   padding: 0;
   background-color: #6c90b6;
   background-image: url('../img/icon-file-search.svg');
   background-size: 14px auto;
   background-repeat: no-repeat;
   background-position: center center;
   box-sizing: border-box;
   vertical-align: middle;
}

/* Checkbox */
input[type="checkbox"] + label{
   cursor: pointer;
}
.basic-check-box input[type="checkbox"] { 
   display: none;
}
.basic-check-box input[type="checkbox"] + label { 
   display: inline-block;
   width: auto;
   height: auto;
   vertical-align: middle;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   cursor: pointer;
}
.basic-check-box input[type="checkbox"] + label:hover{
   opacity: 0.8;
}
.basic-check-box input[type="checkbox"] + label::before {
   content: '';
   display: inline-block;
   width: 16px;
   height: 16px;
   margin: 0 8px 0 0;
   border: 1px solid #a5a9ba;
   border-radius: 2px;
   box-sizing: border-box;
   vertical-align: middle;
   transform: translateY(-1px);
   cursor: pointer;
}
.basic-check-box input[type="checkbox"]:checked + label::before {
   border: none;
   background-color: #5a76ad;
   background-image: url("../img/icon-chk-on.svg");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   cursor: pointer;
}

/* Radio */
.radio-box{
   display: inline-block;
   margin-right: 12px;
}
.radio-box:last-child{
   margin: 0;
}
.radio-box input[type="radio"] {
   display:none;
}
.radio-box input[type="radio"] + label {
   display: inline-block;
   margin: 0 auto;
   vertical-align: middle;
   position: relative;
   cursor: pointer;
   box-sizing: border-box;
}
.radio-box input[type="radio"] + label span{
   padding: 0 0 0 24px;
}
.radio-box.table input[type="radio"] + label span{
   padding: 0 0 0 16px;
}
.radio-box input[type="radio"] + label::before {
   content: '';
   display: inline-block;
   position: absolute;
   top: 50%;
   left: 0;
   width:16px;
   height:16px;
   border:1px solid #a1a5b7;
   border-radius: 50%;
   transform: translate(0, -50%);
   box-sizing: border-box;
}
.radio-box input[type="radio"] + label::after {
   content: '';
   display: inline-block;
   position: absolute;
   top: 50%;
   left: 0;
   width:10px;
   height:10px;
   transform: translate(50%, -50%);
   box-sizing: border-box;
}
.radio-box input[type="radio"]:checked + label::before {
   width: 16px;
   height: 16px;
   border: 1px solid #5a76ad;
   border-radius:50%;
   vertical-align:middle;
}
.radio-box input[type="radio"]:checked + label::after {
   width: 8px;
   height: 8px;
   background-color: #5a76ad;
   border: 1px solid #5a76ad;
   border-radius:50%;
   vertical-align:middle;
}
.radio-box.disabled input[type="radio"] + label::before {
   background-color: #f2f2f2;
   border: 1px solid #969696;
}
.radio-box.disabled input[type="radio"]:checked + label::after, .radio-box.disabled input[type="radio"][checked] + label::after {
   background-color: #969696;
   border: 1px solid #969696;
}

/* 셀렉트박스 */
select {
   min-width: 70px;
   padding: 10px 26px 10px 8px;
   border: 1px solid #ccc; 
   border-radius: 3px;
   background-image: url('../img/select-arrow-g.svg'); 
   background-repeat: no-repeat;
   background-position: calc(100% - 9px) center;
   background-size: 10px 10px; 
   font-size: 13px; 
   color: #666;
   line-height: 1;
   box-sizing: border-box;
}

/* textarea */
textarea{
   width: 100%;
   padding:15px;
   border:1px solid #ccc;
   border-radius:3px;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   -ms-border-radius:3px;
   -o-border-radius:3px;
   box-sizing:border-box;
}
textarea::placeholder{
   color: #ccc;
}
textarea:focus-visible{
   border: 1px solid #000;
}
textarea::-webkit-scrollbar {
   width: 6px;
   background-color: #aaa;
}
textarea::-webkit-scrollbar-thumb {
   background-color: #aaa;
   border-radius: 6px;
}
textarea::-webkit-scrollbar-track {
   background-color: #fff;
}

/* search-box */
.search-box{
   position: relative;
   width: 100%;
   height: 26px;
   padding: 0 0 0 20px;
   background-color: #fff;
   border:1px solid #ccc;
   border-radius: 3px;
   box-sizing: border-box;
}
.search-box label{
   position: absolute;
   top: 0; left: 0;
   display: inline-block;
   width: 100%;
   height: 100%;
   background-image: url('../img/icon-search.svg');
   background-repeat: no-repeat;
   background-size: 14px 14px;
   background-position: 6px center;
   cursor: pointer;
}
.search-box input[type="search"]{
   width: 100%;
   height:24px;
   padding: 2px;
   background-color: #fff;
   border-color: #fff;
   text-overflow: ellipsis;
}
.search-box.disabled {
   background-color: #f2f2f2;
}
.search-box.disabled input[type="search"]{
   background-color: #f2f2f2;
   border-color: #f2f2f2;
}

/* Datepicker */
.datepicker-box{
   position: relative;
}
input.datepicker{
   background-image: url('../img/icon-date.svg'); 
   background-repeat: no-repeat;
   background-position: calc(100% - 8px) center;
   background-size: 14px 14px;
   letter-spacing: -0.02em;
   cursor: pointer;
}
.ui-datepicker-other-month{
   visibility: hidden;
}
.ui-datepicker-unselectable .ui-state-default{
   color: #ddd;
}
/* Monthpicker */
input.monthpicker{
   background-image: url('../img/icon-date.svg'); 
   background-repeat: no-repeat;
   background-position: calc(100% - 8px) center;
   background-size: 14px 14px;
   letter-spacing: -0.02em;
   cursor: pointer;
}
.ui-datepicker.ui-monthpicker .ui-widget-header{
   padding: 8px 0 8px 0;
}
.ui-datepicker.ui-monthpicker .ui-state-default{
   width: 35px;
   height: 35px !important;
   line-height: 35px !important;
}
/* Timepicker */
input.timepicker{
   letter-spacing: -0.02em;
   cursor: pointer;
}
.ui-timepicker{
   padding: 0;
}
.ui-widget.ui-widget-content{
   border-radius: 0;
}
.ui-timepicker-standard{
   padding: 0;
   font-size: 14px;
}
.ui-timepicker-list{
   margin: 0;
   padding: 0;
}
.ui-timepicker-standard .ui-menu-item{
   margin: 0;
   padding: 0;
   font-size: 14px;
   font-weight: 400;
   color: #777;
   /* letter-spacing: -0.001em; */
   list-style: none;
   white-space: nowrap;
   cursor: pointer;
}
.ui-timepicker-standard a{
   padding: 6px 0 6px 4px;
   text-align: left;
}
.ui-timepicker-standard .ui-state-hover{
   border: 1px solid #316094;
   border-radius: 0;
   background-color: #316094;
   color: #fff;
}
/*========== 버튼 ==========*/
.common-btn{
   display: inline-block;
   min-width: 90px;
   padding: 9px 16px;
   background: none;
   border: 1px solid transparent;
   border-radius: 5px;
   font-size: 14px;
   text-align: center;
   line-height: 1;
   white-space: nowrap;
   box-sizing: border-box;
   cursor: pointer;
   transition: background-color 300ms;
}
.common-btn.small{
   min-width: 50px;
   padding: 5px 8px;
   font-size: 12px;
}
.common-btn.memo{
   padding: 6px 16px;
}
.common-btn span{
   display: inline-block;
   background-repeat: no-repeat;
   background-position: right center;
   cursor: pointer;
}
.common-btn.disabled{
   opacity: 0.5;
   cursor:default;
}
.common-btn.disabled span{
   cursor:default;
}
/*테이블 내 작은 버튼*/
table tr td .common-btn {
	padding: 5px 10px;
	min-width: 80px;
}
/* 컬러 */
.common-btn.blue{
   background-color: #5a76ad;
   color: #fff;
}
.common-btn.blue:hover, .common-btn.blue:focus, .common-btn.blue:active{
   background-color:#405889;
}
.common-btn.blue.disabled:hover{
   background-color: #5a76ad;
}
.common-btn.line-blue{
   background-color:#fff;
   color:#5a76ad;
   border:1px solid #5a76ad; 
}
.common-btn.line-blue:hover, .common-btn.line-blue:focus, .common-btn.line-blue:active{
   background-color:#ecf1fa;
}
.common-btn.deepblue{
   background-color: #628ab3;
   color: #fff;
}
.common-btn.deepblue:hover, .common-btn.deepblue:focus, .common-btn.deepblue:active{
   background-color: #446f9b;
}
.common-btn.purple{
   background-color: #826a97;
   color: #fff;
}
.common-btn.purple:hover, .common-btn.purple:focus, .common-btn.purple:active{
   background-color: #675378;
}
.common-btn.sky{
   background-color: #e3f0fa;
   color: #157bd5;
}
.common-btn.sky:hover, .common-btn.sky:focus, .common-btn.sky:active{
   background-color: #bfddf8;
}
.common-btn.green{
   background-color: #dff4e0;
   color: #127d42;
}
.common-btn.green:hover, .common-btn.green:focus, .common-btn.green:active{
   background-color: #bfeac1;
}
.common-btn.pink{
   background-color: #fadde1;
   color: #db1b37;
}
.common-btn.pink:hover, .common-btn.pink:focus, .common-btn.pink:active{
   background-color: #f7c5cc;
}
.common-btn.pink2{
   background-color: #fbecee;
   color: #db1b37;
}
.common-btn.pink2:hover, .common-btn.pink2:focus, .common-btn.pink2:active{
   background-color: #fadde1;
}
.common-btn.line-pink{
   background-color:#fff;
   color:#db1b37;
   border:1px solid #db1b37; 
}
.common-btn.line-pink:hover, .common-btn.line-pink:focus, .common-btn.line-pink:active{
   background-color:#ffeef0;
}
.common-btn.gray {
   background-color: #f0f0f0;
   color: #777;
}
.common-btn.gray:hover, .common-btn.gray:focus, .common-btn.gray:active {
   background-color: #dddddd;
}
.common-btn.white{
   background-color:#fff;
   color:#333;
   border:1px solid #aaa; 
}
.common-btn.white:hover, .common-btn.white:focus, .common-btn.white:active{
   background-color:#f4f4f4;
}
/* 아이콘 */
/* 기본 : size + 7px = 패딩 / 스몰 : size + 5px = 패딩 */
.common-btn.reg span{
   padding-right: 18px;
   background-size: 11px 13px;
   background-image: url('../img/icon-reg-w.svg');
}
.common-btn.del span{
   padding-right: 18px;
   background-size: 11px 10px;
   background-image: url('../img/icon-x-b.svg');
}
.common-btn.pink2.del span{
   padding-right: 18px;
   background-size: 11px 10px;
   background-image: url('../img/icon-x-p.svg');
}
.common-btn.small.del span{
   padding-right: 14px;
   background-size: 9px 9px;
   background-image: url('../img/icon-x-p.svg');
}
.common-btn.deadline span{
   padding-right: 19px;
   background-size: 12px 14px;
   background-image: url('../img/icon-deadline-p.svg');
}
.common-btn.upload span{
   padding-right: 19px;
   background-size: 12px 13px;
   background-image: url('../img/icon-upload-g.svg');
}
.common-btn.download span{
   padding-right: 19px;
   background-size: 12px 13px;
   background-image: url('../img/icon-download-g.svg');
}
.common-btn.white.download span{
   padding-right: 19px;
   background-size: 12px 13px;
   background-image: url('../img/icon-download-b.svg');
}
.common-btn.approve span{
   padding-right: 18px;
   background-size: 11px 11px;
   background-image: url('../img/icon-approve-s.svg');
}
.common-btn.loading span{
   padding-right: 18px;
   background-size: 11px 11px;
   background-image: url('../img/icon-loading.svg');
}
.common-btn.lookup span{
   padding-right: 19px;
   background-size: 12px 12px;
   background-image: url('../img/icon-search-w.svg');
}
.common-btn.add span{
   padding-right: 18px;
   background-size: 11px 11px;
   background-image: url('../img/icon-add-item.svg');
}

/*========== 진행현황 badge ==========*/
.state{
   display: inline-block;
   min-width: 74px;
   padding: 3px 4px;
   background-color: #fff;
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px; 
   font-size: 12px;
   text-align: center;
   white-space: nowrap;
   box-sizing: border-box;
   cursor: default;
}
.state i{
   display: inline-block;
   height: 10px;
   background-size: 100% auto;
   background-repeat: no-repeat;
   background-position: center center;
}
/* 등록확정 */
.state.progress-done{
   border: 1px solid #e56359;
   color: #f35347;
}
.state.progress-done i{
   width: 9px;
   margin-left: 4px;
   background-image: url('../img/state-progress-done.svg');
}
/* 팀확정 */
.state.team-done{
   border: 1px solid #fba767;
   color: #ff740b;   
}
.state.team-done i{
   width: 9px;
   margin-left: 4px;
   background-image: url('../img/state-team-done.svg');
}
/* 등록중 */
.state.enroll-ing{
   border: 1px solid #0da959;
   color: #0c954f;
}
/* 진행중 */
.state.progress-ing{
   border: 1px solid #0da959;
   color: #0c954f;
}
.state.progress-ing i{
   width: 8px;
   margin-left: 5px;
   background-image: url('../img/state-progress-ing.svg');
}
/* 미확정 */
.state.progress-not{
   border: 1px solid #bbb;
   color: #444;
}
.state.progress-not i{
   width: 11px;
   height: 9px;
   margin-left: 5px;
   background-image: url('../img/state-progress-not.svg');
}
/* 마감 */
.state.progress-dead{
   border: 1px solid #c8cde0;
   color: #969aa6;
}
.state.progress-dead i{
   width: 11px;
   height: 11px;
   margin-left: 5px;
   background-image: url('../img/state-progress-dead.svg');
   transform: translateY(1px);
}
/* 팀장승인요청 */
.state.approve-req{
   border: 1px solid #e56359;
   color: #f35347;
}
/* 팀장승인완료 */
/* .state.approve-done{
   border: 1px solid #eda625;
   color: #eda625;
} */
/* 팀장승인완료 */
.state.approve-done{
   border: 1px solid #c8cde0;
   color: #969aa6;
}
/* 사용신청완료 */
.state.use-apply-done{
   border: 1px solid #5b7ecd;
   color: #4066bd;
}
/* 품의작성요청 */
.state.approval-req {
   border: 1px solid #0da959;
   color: #0c954f;
}
/* 품의완료 */
.state.approval-done{
   border: 1px solid #8876d3;
   color: #7465b3;
}
/* 사용확정요청 */
.state.use-req{
   border: 1px solid #e56359;
   color: #f35347;
} 
/* 사용확정 */
.state.use-done{
   border: 1px solid #e56359;
   color: #f35347;
}
/* 최종사용확정 */
.state.done{
   border: 1px solid #c8cde0;
   color: #969aa6;
}
/* 확정 */
.state.use-done-fin{
   border: 1px solid #c8cde0;
   color: #969aa6;
}
/* 배정중 */
.state.assign-ing{
   border: 1px solid #0da959;
   color: #0c954f;
}
/* 팀장조정중 */
.state.adjust-ing-teamleader{
   border: 1px solid #5b7ecd;
   color: #4066bd;
}
/* 조정중 */
.state.adjust-ing{
   border: 1px solid #5b7ecd;
   color: #4066bd;
}
/* 잠정예산등록중 */
.state.estimat-budget-ing{
   border: 1px solid #5b7ecd;
   color: #4066bd;
}
/* 확정대기중 */
.state.assign-done-ing{
   border: 1px solid #eda625;
   color: #eda625;
}
/* 이월대상 */
.state.carry-over{
   border: 1px solid #eda625;
   color: #eda625;
}
/* 확정완료 */
.state.assign-done{
   border: 1px solid #e56359;
   color: #f35347;
}
/* 계약확정 */
.state.contract-done{
   border: 1px solid #e56359;
   color: #f35347;
}
/* 계획확정 */
.state.plan-confirm{
   border: 1px solid #e56359;
   color: #f35347;
}
/* 집행계획등록중*/
.state.execute-ing{
   border: 1px solid #fba767;
   color: #ff740b;
}
/* 집행계획등록완료*/
.state.execute-done{
   border: 1px solid #fba767;
   color: #ff740b;
}
/*========== 검색창 ==========*/
.common-sch-box{
   position: relative;
   width: 100%; /*직접 조정*/
}
.common-sch-box-general{
   display: flex;
   flex-wrap: wrap;
}
.common-sch-box-general .common-search{
   width: calc(100% - 100px);
}
.common-sch-box-general select{
   width: 100px;
   background-color: transparent;
   border: 0;
   font-size: 14px;
   color: #666;
   box-sizing: border-box;
}
.common-search{
   width: 100%;
   padding: 8px 40px 8px 10px;
   border-color: transparent;
   border-radius: 5px;
   /* background: #f2f2f2; */
   background: rgba(240, 240, 240, 1);
   font-size: 14px;
   color: #666;
   box-sizing: border-box;
}
.common-search::placeholder{
   color: #888;
}
.common-search:focus {
   background: rgba(240, 240, 240, 0.7);
   box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
}
.common-search:focus-visible{
   border: 1px solid #999;
}
.search-btn{
   position: absolute;
   top: 7px; right: 12px;
   width: 18px;
}
/* common-sel-sch-wrap */
.common-sel-sch-wrap{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: flex-start;
   align-items: center;
   width: 100%;
   min-width: 500px;
}
.common-sel-sch-wrap select{
   min-width: 100px;
   margin: 0 6px 0 0;
   padding: 9px 12px;
   background-position: calc(100% - 8px) center;
   line-height: 14px;
}
.common-table-top .common-sel-sch-wrap .common-sch-box{
   width: 100%;
}
/*========== 태그 검색창 ==========*/
.common-sch-box-etc{
   display: none;
}
.common-sch-box-etc.on{
   display: block;
}
/*========== 일반/태그 검색창 ==========*/
.toggle-sch-box{
   position: relative;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: flex-start;
   align-items: center;
   width: 100%;
   min-width: 450px;
   border-radius: 5px;
   background-color: rgba(240, 240, 240, 1);
}
.toggle-sch {
   line-height: 1;
   vertical-align: middle;
}
.toggle-sch-sel {
   position: relative;
   top: 0;
   display: inline-block;
   width: 130px;
   height: 32px;
   background: #e9e9ef;
   border-radius: 5px;
   line-height: 32px;
   overflow: hidden;
}
.toggle-sch-sel::before {
   position: absolute;
   top: 3px;
   left: 0;
   content: "";
   display: block;
   width: 61px;
   height: calc(100% - 5px);
   background: #56616d;
   border-radius: 6px;
   transition: left 0.5s;
}
.toggle-sch-sel.toggle-sch-nomal::before {
   left: 4px;
   transition: left 0.5s;
}
.toggle-sch-sel.toggle-sch-tag::before {
   left: 65px;
   transition: left 0.5s;
}
.toggle-sch-sel a {
   position: absolute;
   display: inline-block;
   color: #666;
   width: 68px;
   height: 32px;
   font-size: 12px;
   text-align: center;
   letter-spacing: -0.03em;
   transition: 0.5s 0.1s;
}
.toggle-sch-sel a:first-child {
   left: 0;
}
.toggle-sch-sel a:last-child {
   right: 0;
}
.toggle-sch-sel a.on {
   color: #fff;
   font-weight: 600;
   transition: 0.5s 0.1s;
}
.toggle-sch-sel a:hover {
   color: #56616d;
   transition: 0.5s 0.1s;
}
.toggle-sch-sel a.on:hover {
   color: #fff;
}
.toggle-sch-box .common-sch-box .common-search{
   min-width: 70px;
   padding: 6px 40px 6px 10px;
}
/*========== 테이블 공통 스타일 ==========*/
table.common-table{
   width: 100%;
   border-top: 2px solid #e5eaef;
}
.common-table thead{
   background-color: #f2f4f7;
   /* border-top: 2px solid #e5eaef; */
   border-bottom: 1px solid #e5eaef;
}
.common-table thead th{
   padding: 10px 6px;
   border-right: 1px solid #e5eaef;
   font-size: 13px;
   font-weight: 600;
   color: #55596a;
   text-align: center;
   vertical-align: middle;
}
.common-table thead th:last-child{
   border-right: 0;
}
.common-table tbody th{
   height: 34px;
   padding: 0 6px;
   background-color: #f2f4f7;
   border-right: 1px solid #e5eaef;
   border-bottom: 1px solid #e5eaef;
   font-size: 13px;
   font-weight: 600;
   color: #55596a;
   line-height: 1.2;
   text-align: center;
   vertical-align: middle;
}
.common-table tbody td{
   height: 34px;
   padding: 3px 6px;
   background-color: #fff;
   border-bottom: 1px solid #e5eaef;
   font-size: 13px;
   line-height: 1.2;
   text-align: center;
   vertical-align: middle;
}
.common-table tbody td.empty{
   color: #999;
}
.common-table tbody tr.sum-total th,
.common-table tbody tr.sum-total td{
   /* background-color: rgba(229,235,245,0.6); */
   background-color: rgba(255,250,215,0.6);
   font-weight: bold;
}
.common-table tbody tr.sum-total th{
   text-align: center;
}
.common-table tbody tr.sum-total td{
   text-align: right;
}
.table-wrap{
   margin-bottom: 20px;
}
.over-table-wrap{
   width: 100%;
   padding-bottom: 10px;
   overflow-x: scroll;
}
.over-table-wrap::-webkit-scrollbar {
   height: 6px;
   background-color: #aaa;
}
.over-table-wrap::-webkit-scrollbar-thumb {
   background-color: #aaa;
   border-radius: 6px;
}
.over-table-wrap::-webkit-scrollbar-track {
   background-color: #fff;
}
.over-table-wrap .common-table{
   width: max-content;
}
.table-title{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: flex-end;
   margin: 0 0 8px;
}
.table-style01 thead tr th{
   width: 14.3%;
}
.table-style02 tbody tr th, .table-style02 tbody tr td{
   width: 10%;
}
.table-style03 thead tr th{
   width: 7.15%;
}
.table-style04 thead tr th{
   width: 20%;
}
.table-style05 thead tr th{
   width: 120px;
}
.table-style05 thead tr th:nth-child(2){
   width: 200px;
}
.table-style05 tbody tr td{
   text-align: right;
}
.table-style06 thead tr th{
   width: 120px;
}
.table-style06 thead tr th:first-child{
   width: 160px;
}
table.table-style06 thead {
   position: sticky;
   top: 0;
   z-index: 1;
}
table.table-style06 th:first-child {
   position: sticky;
   left: 0;
   background-color: #f2f4f7;
}

/* table 내 요소 */
.common-table td select {
	width: 100%;
   padding: 4px 18px 5px 6px;
   background-position: calc(100% - 5px) center;
   text-overflow: ellipsis;
}
.common-table td select, .common-table td input{
   height: 26px;
}
.common-table td input, .common-table td input::placeholder{
   font-size: 13px;
}
.common-table .common-btn{
   font-size: 13px;
}
.common-table .common-btn.small{
   font-size: 12px;
}

/* 링크달린 a 태그 */
.common-table td .a-link, .grid-table td .a-link{
   text-decoration: underline;
   color: #5a76ad;
   transition: 300ms;
}
.common-table td .a-link:hover, .grid-table td .a-link:hover {
   opacity: 0.7;
}
/* 폰트 */
.common-table td.c-red, .grid-table td.c-red {
   color: #db1b37;
}
.common-table td.total, .grid-table td.total {
   text-align: right;
   font-weight: 600;
}
.c-red-grid{
   color: #db1b37;
}
/* 정렬 */
.common-table td.dt-center, .grid-table td.dt-center {
   text-align: center;
}
.common-table td.dt-left, .grid-table td.dt-left {
   text-align: left;
}
.common-table td.dt-right, .grid-table td.dt-right {
   text-align: right;
}

/*========== Grid 테이블 공통 스타일 ==========*/
.number{
   text-align: right;
}

.grid-table .tui-grid-container {
   font-family: 'Pretendard', Arial, '\B3CB\C6C0', Dotum, sans-serif;
   font-size: 14px;
}

/* .grid-table .tui-grid-cell-header{
   background-color: #f2f4f7;
} */
.grid-table .tui-grid-container td,
.grid-table .tui-grid-container p,
.grid-table .tui-grid-container input,
.grid-table .tui-grid-container textarea {
   margin: 0;
   padding: 0;
   font-size: 13px;
   font-family: 'Pretendard', Arial, '\B3CB\C6C0', Dotum, sans-serif;
}
.grid-table .tui-grid-container input,
.grid-table .tui-grid-container textarea{
   height: 28px;
   padding: 2px 4px;
}
.grid-table .tui-grid-btn-sorting{
   height: 13px;
}

.tui-grid-content-area{
   border-bottom: 0;
}
.tui-grid-scrollbar-frozen-border{
   display: none;
} 
.tui-grid-no-scroll-y .tui-grid-scrollbar-right-bottom{
   display: none;
}

.tui-grid-container ::-webkit-scrollbar{
   padding-top: 100px;
   height: 18px;
   border-bottom-width: 0; 
   border-top: 0;
}
.tui-grid-container ::-webkit-scrollbar-thumb {
   border: 6px solid transparent;
   background-clip: content-box;
   background-color: #aaa !important;
   border-radius: 60px !important;
}
.tui-grid-container ::-webkit-scrollbar-track{
   background-color: #fff;
} 

/* grid checkbox */
.grid-table .hidden-input{
   display: none;
}
.grid-table .custom-input{
   position: relative;
   display: inline-block;
   line-height: 1;
   box-sizing: border-box;
   cursor: pointer;
}
.grid-table input[type="checkbox"] + .custom-input:before{
   content: '';
   width: 16px;
   height: 16px;
   display: inline-block;
   border: 1px solid #a5a9ba;
   border-radius: 2px;
   vertical-align: middle;
}
.grid-table input[type="checkbox"]:checked + .custom-input:before,
.grid-table input[type="checkbox"][checked] + .custom-input:before {
   border: none;
   background-color: #5a76ad;
   background-image: url("../img/icon-chk-on.svg");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   cursor: pointer;
}
.grid-table input[type='checkbox'][disabled] ~ .custom-input {
   opacity: 0.4;
   cursor: not-allowed;
}
/* grid filter*/
.grid-table .tui-grid-container input{
   color: #666;
   font-weight: 400;
   border: 1px solid #ccc;
}
.grid-table .tui-grid-filter-list-item label::before {
   content: '';
   width: 16px;
   height: 16px;
   display: inline-block;
   background: none;
   border: 1px solid #a5a9ba;
   border-radius: 2px;
   vertical-align: middle;
}
.grid-table .tui-grid-filter-list-item-checked label::before {
   border: none;
   background-color: #5a76ad;
   background-image: url("../img/icon-chk-on.svg");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   cursor: pointer;
}
.grid-table .tui-grid-filter-input {
   width: 100% !important;
}
.grid-table .tui-grid-filter-list-container .tui-grid-filter-list{
   overflow-y: auto;
}
.grid-table .tui-grid-filter-dropdown {
   width: 100%;
   height: auto;
   margin: 2px 0;
   border: 1px solid #ccc;
   border-radius: 3px;
}
.grid-table .tui-grid-filter-dropdown select {
   height: auto;
   box-sizing: border-box;
}
.grid-table .tui-grid-filter-comparator{
   margin-right: 12px;
}
.grid-table .tui-grid-filter-comparator label{
   display: inline-block;
   margin: 0 auto;
   vertical-align: middle;
   position: relative;
   cursor: pointer;
   box-sizing: border-box;
}
.grid-table .tui-grid-filter-comparator label::before{
   content: '';
   display: inline-block;
   position: absolute;
   top: 50%; left: 0;
   width: 16px;
   height: 16px;
   background: none;
   border: 1px solid #a1a5b7;
   border-radius: 50%;
   transform: translate(0, -50%);
   box-sizing: border-box;
}
.grid-table .tui-grid-filter-comparator-checked label::before{
   width: 16px;
   height: 16px;
   background: none;
   border: 1px solid #5a76ad;
   border-radius: 50%;
   vertical-align: middle;
}
.grid-table .tui-grid-filter-comparator label::after{
   content: '';
   display: inline-block;
   position: absolute;
   top: 50%;
   left: 0;
   width: 10px;
   height: 10px;
   transform: translate(50%, -50%);
   box-sizing: border-box;
}
.grid-table .tui-grid-filter-comparator-checked label::after{
   width: 8px;
   height: 8px;
   background-color: #5a76ad;
   border: 1px solid #5a76ad;
   border-radius: 50%;
   vertical-align: middle;
}
.grid-table .tui-grid-filter-comparator span{
   padding: 0 0 0 24px;
}

/* grid datepicker */
.grid-table .tui-datepicker{
   font-family: 'Pretendard', sans-serif;
}
.grid-table .tui-grid-date-icon{
   top: 50%;
   width: 12px;
   height: 12px;
   background: url("../img/icon-date.svg") no-repeat 0 0;
}
.grid-table .tui-calendar .tui-calendar-header{
   padding: 6px 0 6px 0;
   border: 0;
   background: #f2f4f7;
   color: #55596a;
   border-radius: 0;
   cursor: default;
}
.tui-calendar .tui-calendar-header-inner
.tui-calendar-btn{
   position: absolute;
   top: 5px;
   width: 1.8em;
   height: 1.8em;
   background-color: transparent;
   text-indent: -9999px;
   cursor: pointer;
   opacity: 0.7;
}    
.grid-table .tui-calendar .tui-calendar-btn-prev-month:after, .grid-table .tui-calendar.tui-calendar-month .tui-calendar-btn-prev-year:after{
   width: 12px;
   height: 12px;
   margin-left: 2px;
   background: url('../img/arrow-left-b.svg') no-repeat;
   background-position: 0 0;
}
.grid-table .tui-calendar .tui-calendar-btn-next-month:after, .grid-table .tui-calendar.tui-calendar-month .tui-calendar-btn-next-year:after{
   width: 12px;
   height: 12px;
   background: url('../img/arrow-right-b.svg') no-repeat;
   background-position: 0 0;
}
.grid-table .tui-calendar .tui-calendar-header-inner {
   padding: 5px 50px 0px;
   height: 24px;
}
.grid-table .tui-calendar .tui-calendar-title{
   font-size: 13px;
   font-weight: 600;
   color: #55596a;
}
.grid-table .tui-calendar-header-info{
   display: none;
}
.grid-table .tui-calendar-body-header{
   position: relative;
   background: #f2f4f7;
}
.grid-table .tui-calendar-body-header tr th {
   width: 14.2857%;
   height: fit-content;
   padding: 11px 0;
   font-size: 11px;
   color: #55596a;
   letter-spacing: 1px;
   opacity: 0.6;
} 
.grid-table .tui-datepicker-type-date{
   width: 238px;
}
.grid-table .tui-calendar{
   width: 238px;
}
.grid-table .tui-calendar-year .tui-calendar-body-inner{
   width: 165px;
   height: 165px;
}
.grid-table .tui-calendar-year-group .tui-calendar-year{
   width: 55px !important;
   line-height: 55px;
}
.grid-table .tui-calendar-month .tui-calendar-body-inner{
   height: 165px;
}
.grid-table .tui-calendar .tui-calendar-body-inner .tui-calendar-month{
   line-height: 55px;
}
.grid-table .tui-calendar td{
   height: 34px;
   line-height: 34px;
   font-size: 12px;
   color: #333;
}
.grid-table .tui-datepicker .tui-is-selectable.tui-is-selected, .grid-table .tui-datepicker.tui-rangepicker .tui-is-selectable.tui-is-selected{
   border-radius: 50%;
   background: #316094;
   font-weight: 600;
}
.grid-table .tui-datepicker .tui-is-selectable:hover{
   border-radius: 50%;
}

/* 필수항목표시 */
.required{
   position: relative;
}
.required::before{
   position: absolute;
   content: '';
   width: 6px;
   height: 6px;
   background-image: url('../img/icon-required.svg');
   background-repeat: no-repeat;
   background-size: 6px auto;
   transform: translate(-7px, 0px);
}

/* 툴팁항목표시 - Click */
.toolTip{
   display: inline-block;
   position: relative;
}
.toolTip img {
	width: 16px; 
	height: 16px;
	transform: translateY(-1px);
	cursor: pointer;
}
.toolTip .toolTipText {
   visibility: hidden;
   position: absolute;
   top: 19px; right: 0;
   z-index: 98;
   transform: translateX(92%);
   min-width: 110px;
   max-width: 300px;
   padding: 6px 8px;
   border-radius: 0 10px 10px 10px;
   background: rgba(86, 97, 109, 0.7);
   font-size: 11px;
   font-weight: 300;
   line-height: 1.5;
   color: white;
   text-align: left;
   opacity: 0;
   transition: opacity 300ms;
}
.toolTip .toolTipText .tooltip-text-tit{
	display: block;
   font-size: 12px;
   font-weight: 500;
}
.toolTip.active .toolTipText  {
   visibility: visible;
   opacity: 1;
   transition: opacity 300ms;
}

/*========== 탭메뉴 스타일 ==========*/
/* .tab-menu {
   margin: 80px 16px 0 16px;
} */
.tab-menu ul{
   display: inline-block;
}
.tab-menu ul li{
   display: inline-block;
   margin-right: 6px;
}
.tab-menu ul li a{
   display: block;
   width: 110px;
   padding: 12px 0;
   background-color: #f2f4f7;
   border-radius: 5px;
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
   font-size: 14px;
   line-height: 1;
   text-align: center;
   color: #5a76ad;
}
.tab-menu ul li.active a{
   border-radius: 5px;
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
   background-color: #5a76ad;
   color: #fff;
   font-weight: 600;
}
.tab-contents .tab-con{
   display: none;
	border: 1px solid #e6e7e9;
	padding: 20px 10px;
}
.tab-contents .tab-con.active{
   display: block;
}
.tab-menu-exc ul{
   display: inline-block;
}
.tab-menu-exc ul li{
   display: inline-block;
   margin-right: 6px;
}
.tab-menu-exc ul li a{
   display: block;
   width: 110px;
   padding: 12px 0;
   background-color: #f2f4f7;
   border-radius: 5px;
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
   font-size: 14px;
   line-height: 1;
   text-align: center;
   color: #5a76ad;
}
.tab-menu-exc ul li.active a{
   border-radius: 5px;
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
   background-color: #5a76ad;
   color: #fff;
   font-weight: 600;
}
/*========== 해시태그 스타일 ==========*/
.tag-wrap{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: flex-start;
   align-items: center;
}
.tag-wrap input{
   display: inline-block;
   margin: 0 8px 0 0;
   padding: 3px 6px;
}
.tag-list {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: flex-start;
   align-items: center;
}
.tag-list li {
   display: inline-block;
   margin: 0 4px 0 0;
}
.tag-list li:last-child{
   margin: 0;
}
.tag-list li.tag-item {
   width: max-content;
   padding:4px 8px;
   border:1px solid #ccc;
   border-radius:20px;
   font-size:13px;
   font-weight:400;
   color:#a1a5b7;
   letter-spacing: 0;
   line-height: 1;
   text-align:center;
   transition: color 300ms, border-color 300ms;
   cursor: default;
}
.tag-list li.tag-item:hover {
   border-color: #777;
   color: #777;
}
.tag-list .tag-del-btn {
   display: inline-block;
   width:13px;
   height:13px;
   margin-left: 8px;
   background-image: url('../img/hashtag-x.svg');
   vertical-align: middle;
   cursor: pointer;
}
.tag-list-in-input{
   max-width: 362px;
   margin: 0 0 0 2px;
}
.tag-list-in-input li:last-child{
   margin: 0 4px 0 0;
}
/*========== 탭메뉴 + 해시태그 스타일 ==========*/
.tab-tag-wrap{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: flex-start;
   align-items: center;
}
/*========== 탭메뉴 + 해시태그 + 메모 스타일 ==========*/
.tab-tag-memo-wrap{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}
/*========== 게시판 하단 스타일 ==========*/
/* common-table-top */
.common-table-top{
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
   margin: 0 0 16px;
}
.common-table-top .select-wrap select{
   margin: 0 8px 0 0;
}
.common-table-top .select-wrap select:last-child{
   margin: 0;
}
/* 상단 (제목 + 버튼) */
.top-title {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.top-title > .common-btn {
	margin-bottom: 5px;
}
.top-title h3 {
   margin-bottom: 8px;
}
/* toggle-sch-box */
.common-table-top .toggle-sch-box{
   width: calc(100% - 840px);
}
.common-table-top .toggle-sch-box .common-sch-box{
   width: 100%;
}
/* sch-box */
.common-table-top .common-sch-box{
   width: calc(100% - 840px);
}
.grid-table-wrap{
   margin: 24px 0 30px;
}
/* .grid-table-wrap{
   width: 100%;
   overflow-x: scroll;
   overflow-y: hidden;
}
.grid-table-wrap .grid-table{
   min-width: 1500px;
}
.grid-table-wrap::-webkit-scrollbar {
   height: 6px;
   background-color: #aaa;
}
.grid-table-wrap::-webkit-scrollbar-thumb {
   background-color: #aaa;
   border-radius: 6px;
}
.grid-table-wrap::-webkit-scrollbar-track {
   background-color: #fff;
} */
/* common-table-bottom */
.common-table-bottom{
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
   margin: 24px 0 0;
}
/* table-bt-btn */
.table-bt-btn .common-btn{
   margin: 0 8px 0 0;
}
.table-bt-btn .common-btn:last-child{
   margin: 0;
}
/* 페이지 정보 */
.total-pager {
   display: inline-block;
   margin: 0 0 0 20px;
   font-size: 14px;
   color: #777;
}
/* pagination */
.basic-pagination {
   text-align: center; 
}
.basic-pagination-btn { 
   opacity: 1;
   display: inline-block;
   width: 8px; 
   height: 18px; 
   text-indent: -9999px;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 10px 10px; 
   margin: 0 5px; 
   transition: all 300ms; 
}
.basic-pagination-btn:hover { 
   opacity: 0.6; 
   transition: all 300ms; 
}
.basic-pagination-btn-first, .basic-pagination-btn-last{
   width: 14px;
   height: 18px;
   background-size: 12px 10px;
}
.basic-pagination-btn-first { 
   background-image: url("../img/arrow-double-left-b.svg");
}
.basic-pagination-btn-last { 
   background-image: url("../img/arrow-double-right-b.svg");
}
.basic-pagination-btn-prev { 
   background-image: url("../img/arrow-left-b.svg");
}
.basic-pagination-btn-next { 
   background-image: url("../img/arrow-right-b.svg");
}
.basic-pagination ul { 
   display: inline-block; 
   width: auto; 
   margin: 0 10px; 
}
.basic-pagination li { 
   display: inline-block; 
   width: 33px;
   height: 33px;
   line-height: 33px;
   margin: 0 4px; 
}
.basic-pagination li button { 
   width: 100%;
   height: 100%; 
   font-size: 14px;
   font-weight: 500;
   color: #666;
   transition: all 300ms; 
}
.basic-pagination li.act button {
   border-radius: 5px;
   background-color: #5a76ad;
   font-weight: 700; 
   color: #fff;
}
.basic-pagination li:hover button { 
   opacity: 0.7;
}
.basic-pagination li.act:hover button{
   opacity: 0.9;
}